*, :after, :before {
    box-sizing: border-box;
}

body {
    color: #4b4e55;
    background: #f4f4ff;
}

.header {
	background: rgba(255,255,255,.85);
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.27);
  text-align: center;
  padding: 0.5em 2em;
}


/* Date component styles */
.date {
  text-align: center;
  font-weight: lighter;
  padding: 0.5em 1em;
}

/* Image component styles */
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 1em;
  background: white;
}

figcaption {
  text-align: center;
  text-transform: italic;
  padding-top: 0.5em;
}

.main-photo {
  width: 100%;
  margin: 0;
}

.main-photo img {
  width: 100%;
  border-radius: 5px;
  display: block;
}

.explanation {
  padding: 0.5em;
  font-size: 1.2em;
}

.footer {
  width: 70%;
  text-align: center;
  padding: 2em 1em;
  background: #fff;
  margin: 0 auto;
  border-top: 1px solid rgba(55, 55, 55, .3);
}
